@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato:300);
/* CSS Document */

/* Hex Variables */
:root {
	--hex_width: 125px; /* ratio for border width:height is 52:30 or 1.7333 */
	--hex_spacing: 4px;
	--hex_height: calc(var(--hex_width)*1.7333);
}

/* Nex Hex */
.hexagon {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
  overflow: hidden;
  visibility: hidden;
  width: var(--hex_width);
  height: var(--hex_height);
}

.hex1 {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.hex2 {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  height: 100%;
  position: relative;
  visibility: visible;
  width: 100%;
}

.center {
  float: left;
  margin: var(--hex_spacing) var(--hex_spacing);
  width: var(--hex_width);
}

.hextext {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.0em;
  font-weight: 600;
  line-height: 1.5em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  visibility: visible;
  height: calc(var(--hex_width)*1.7333);
  width: var(--hex_width);
}
.hextext.base {
  background: rgba(230, 0, 98, 0.75);
}
.hextext.one {
  background: rgba(252, 171, 55, 0.75);
}
.hextext.two {
  background: rgba(169, 160, 50, 0.75);
}
.hextext.three {
  background: rgba(83, 70, 54, 0.75);
}
.hextext p {
  margin: 55% 10% 0 10%;
}

/* Tile alignment */
.hex-row {
    clear: left;
	margin: 0 auto calc(var(--hex_height)/-2) auto;
	overflow: hidden;
}
.hex-row.skip-half {
    margin-left: calc((var(--hex_width)/2) + (var(--hex_spacing)));
}
.hex-row.skip-one {
	margin-left: calc(var(--hex_width) + var(--hex_spacing)*2);
}
.hex-row.skip-two {
	margin-left: calc(var(--hex_width)*2 + var(--hex_spacing)*4);
}
