body {
	background: black;
}

.hexagons{
	position: absolute;
	overflow: hidden;
	width: 655px; /*fixed div size till break point */
	height: 700px; /*fixed div size till break point */
	text-align: center;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	zoom: 1; /*hex scale*/
}

.hexagons .inner_span{
	display: block;
	height: 100%;
	width: 100%;
	background-color: #68B0BE;
}

.hexagons .inner-text{
	font-family: 'Bungee', cursive;
	font-size: 1.5em;
	color: #000;
	padding-top: 30%;
}

.hexagons .hexagons-inner-wrapper{
	display: inline-block;
	overflow: hidden;
	width: 700px;
	position: relative;
	height: auto;
}

.hexagons .comb{
	position: absolute;
	display: inline-block;
}

.hexagons .comb .link {
	cursor: pointer;
}

.hexagons .hex_l,
.hexagons .hex_r{
	overflow: hidden;
	position: absolute;
	/* -webkit-backface-visibility: hidden; */
}

.hexagons .hex_l{
	visibility: hidden;
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	
	transform: rotate(60deg);
}

.hexagons .hex_r{
	visibility: hidden;
	-moz-transform: rotate(-120deg);
	-ms-transform: rotate(-120deg);
	-o-transform: rotate(-120deg);
	-webkit-transform: rotate(-120deg);
	
	transform: rotate(-120deg);
}

.hexagons .hex_inner{
	display: block;
	visibility: visible;
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
	background-position: center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	
	/*cursor: pointer;*/
}

@media (max-width: 1200px) { /* <- 3-2  hexagons per row */
	.hexagons {
		width: 100%;
		height: auto;
		transform: translate(0%, 0%);
		top: 0%;
		left: 0%;
		position: relative;
		zoom: 2;
	}
}