@import url(https://fonts.googleapis.com/css?family=Lato:300);
/* CSS Document */

/* Hex Variables */
:root {
	--hex_height: 300px; /* ratio for border width:height is 52:30 or 1.7333 */
	--hex_spacing: 8px;
	--hex_width: calc(var(--hex_height) * 0.5769);
	--animation: 0.5s;
}

/* Nex Hex */
.hexagon {
	-moz-transform: translateY(calc(var(--hex_height)*-.16)) rotate(120deg);
	-ms-transform: translateY(calc(var(--hex_height)*-.16)) rotate(120deg);
	-webkit-transform: translateY(calc(var(--hex_height)*-.16)) rotate(120deg);
	transform: translateY(calc(var(--hex_height)*-.16)) rotate(120deg);
	margin: 0 var(--hex_spacing);
	cursor: pointer;
	float: left;
	overflow: hidden;
	visibility: hidden;
	width: var(--hex_width);
	height: var(--hex_height);
	-webkit-transition: width var(--animation), height var(--animation), margin var(--animation); /* For Safari 3.1 to 6.0 */
    transition: width var(--animation), height var(--animation), margin var(--animation);
}

.hexagon:hover {
	width: calc(var(--hex_width)*1.10);
	height: calc(var(--hex_height)*1.10);
	margin: 0 0;
}

.hex1, .hex2 {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.hex2 {
  position: relative;
  visibility: visible;
}

.hextext {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.0em;
  font-weight: 600;
  line-height: 1.5em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  visibility: visible;
  height: var(--hex_height);
  width: var(--hex_width);
  -webkit-transition: width var(--animation), height var(--animation), margin var(--animation); /* For Safari 3.1 to 6.0 */
  transition: width var(--animation), height var(--animation), margin var(--animation);
}
.hextext:hover {
  height: calc(var(--hex_height)*1.10);
  width: calc(var(--hex_width)*1.10);
}
.hextext.base {
  background: rgba(230, 0, 98, 0.75);
}
.hextext.one {
  background: rgba(252, 171, 55, 0.75);
}
.hextext.two {
  background: rgba(169, 160, 50, 0.75);
}
.hextext.three {
  background: rgba(83, 70, 54, 0.75);
}
.hextext p {
  margin: 55% 10% 0 10%;
}

/* Tile alignment */
.hex-row {
    -webkit-transition: height var(--animation); /* For Safari 3.1 to 6.0 */
    transition: height var(--animation);
	clear: left;
	height: calc(var(--hex_height) - var(--hex_height)*.32);
	width: auto;
	margin-bottom: calc(var(--hex_height)*-.14);
	overflow: hidden;
}
.hex-row:hover {
	height: calc(var(--hex_height)*1.10 - var(--hex_height)*.32);
}
.hex-row.skip-half {
    margin-left: calc((var(--hex_width)/2) + (var(--hex_spacing)));
}
.hex-row.skip-one {
	margin-left: calc(var(--hex_width) + var(--hex_spacing)*2);
}
.hex-row.skip-two {
	margin-left: calc(var(--hex_width)*2 + var(--hex_spacing)*4);
}
