/* ****** HEXAGONS ****** */
.hex {
	position: absolute;
	pointer-events: none;
	display: inline-block;
}

.hex_inner {
	display: block;
	pointer-events: all;
	background-position: center top;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	-webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.inner-span {
	display: block;
	background-position: inherit;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 100%;
	width: 100%;
	line-height: 1;
}

.inner-title {
	font-family: 'Bungee', cursive;
	text-shadow: 2px 2px 5px black;
	text-align: center;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.inner-text {
	font-family: 'Bungee', cursive;
	text-shadow: 2px 2px 5px black;
	text-align: center;
	padding-top: 5px;
	color: white;
	line-height: 1.5;
}

.hex .hex_link {
	cursor: pointer;
	text-decoration: none;
	background-color: transparent;
    border: none;
    overflow: hidden;
    outline: none;
	padding: 0px;
}

.hex .hex_button {
	cursor: pointer;
	text-decoration: none;
	background-color: transparent;
    border: none;
    overflow: hidden;
    outline: none;
	padding: 0px;
}

/* ****** Flipped Hexagon Text ****** */

.inner-text-flipped {
	font-family: 'Bungee', cursive;
	text-shadow: 2px 2px 5px black;
	font-size: 1rem;
	text-align: center;
	color: white;
	line-height: 1.5;
	transform: scaleX(-1) !important;
	vertical-align: middle;
	display: none;
}

.hex-wrap-before{
    float:left;
    -webkit-shape-outside: polygon(0% 0%, 100% 0, 0 50%, 100% 100%, 0 100%);
    shape-outside: polygon(0% 0%, 100% 0, 0 50%, 100% 100%, 0 100%);
}

.hex-wrap-after{
    float:right;
    -webkit-shape-outside: polygon(100% 0, 0 0, 100% 50%, 0 99%, 100% 100%);
    shape-outside: polygon(100% 0, 0 0, 100% 50%, 0 99%, 100% 100%);
}

.flipping {
    animation: flipped 500ms forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-fill-mode: forwards;
}
.flip-back {
    animation: flip-back 500ms forwards;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-fill-mode: forwards;
}
@keyframes flipped {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(180deg);}
}
@keyframes flip-back {
    from {transform: rotateY(180deg);}
    to {transform: rotateY(0deg);}
}
