/* ****** HEXAGONS ****** */
.hex {
	position: absolute;
	display: inline-block;
}

.hex_l,
.hex_r {
	overflow: hidden;
	position: absolute;
	/* -webkit-backface-visibility: hidden; */
}

.hex_l {
	visibility: hidden;
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
}

.hex_r {
	visibility: hidden;
	/*box-shadow: 5px 10px 10px gray;*/
	-moz-transform: rotate(-120deg);
	-ms-transform: rotate(-120deg);
	-o-transform: rotate(-120deg);
	-webkit-transform: rotate(-120deg);
	transform: rotate(-120deg);
}

.hex_inner {
	display: block;
	visibility: visible;
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
	background-position: center top;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.inner-span {
	display: block;
	background-position: inherit;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 100%;
	width: 100%;
	line-height: 1;
}

.inner-title {
	font-family: 'Bungee', cursive;
	text-shadow: 2px 2px 5px black;
	text-align: center;
	padding-top: 38%;
	color: white;
}

.inner-text {
	font-family: 'Bungee', cursive;
	text-shadow: 2px 2px 5px black;
	text-align: center;
	padding-top: 5px;
	color: white;
	line-height: 1.5;
}

.hex .link {
	cursor: pointer;
	text-decoration: none;
	color: white;
}

.hex .button {
	cursor: pointer;
	text-decoration: none;
	color: white;
    border: none;
    overflow: hidden;
    outline: none;
	padding: 0px;
}

/* ****** ****** ****** */