/* Style of the landing page div */
.landing {
	width: 708px; /*fixed div size till break point */
	height: 736px; /*fixed div size till break point */
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*zoom: 1; /*hex scale*/
}


/* Squared Hex Styles */
.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-grow: 1; /* Distribute available space evenly among rows */
}

.column {
    flex: 1;
    padding: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.button-link {
    text-decoration: none;
    background-color: #0066ff;
    color: #fff;
    padding: 15px 20px 20px 20px;
    margin: 0px 30px 20px 30px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.button-link:hover {
    background-color: rgb(0, 3, 189)
}

.button-link img {
    filter: drop-shadow(2px 2px 5px black);
    width: 100%;
    height: 80%;
}

.square-hex-text {
	font-family: 'Montserrat', sans-serif;
	text-shadow: 2px 2px 5px black;
	text-align: center;
	padding-top: 5px;
	color: white;
	font-size: 20px;
	line-height: 1;
}

/* Styling for footer */
.footer {
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-updated {
    font-size: 0.8em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Heart animation */
.heart {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.heart:hover {
    animation: burst 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

@keyframes burst {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

/* RESPONSIVE */
@media (max-width: 1000px) { /* <- 3-2  hexagons per row */

    .landing {
		width: 100%;
		height: 100%;
		left: 0%;
		top: 0%;
		transform: translate(0%, 0%);
		position: relative;
	}

    .footer {
        font-size: 1.2em;
        position: relative;
    }

    .last-updated {
        font-size: 1.0em;
    }

}