/* Style of the landing page div */
.landing {
	width: 708px; /*fixed div size till break point */
	height: 736px; /*fixed div size till break point */
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*zoom: 1; /*hex scale*/
}


/* Squared Hex Styles */
.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-grow: 1; /* Distribute available space evenly among rows */
}

.column {
    flex: 1;
    padding: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.button-link {
    text-decoration: none;
    background-color: #0066ff;
    color: #fff;
    padding: 15px 20px 20px 20px;
    margin: 0px 30px 20px 30px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.button-link:hover {
    background-color: rgb(0, 3, 189)
}

.button-link img {
    filter: drop-shadow(2px 2px 5px black);
    width: 100%;
    height: 80%;
}

.square-hex-text {
	font-family: 'Montserrat', sans-serif;
	text-shadow: 2px 2px 5px black;
	text-align: center;
	padding-top: 5px;
	color: white;
	font-size: 20px;
	line-height: 1;
}

/* RESPONSIVE */
@media (max-width: 1000px) { /* <- 3-2  hexagons per row */

    .landing {
		width: 100%;
		height: 100%;
		left: 0%;
		top: 0%;
		transform: translate(0%, 0%);
		position: relative;
	}

}