/* Style of the landing page div */
.landing {
	width: 646px; /*fixed div size till break point */
	height: 670px; /*fixed div size till break point */
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*zoom: 1; /*hex scale*/
}

/* RESPONSIVE */
@media (max-width: 1000px) { /* <- 3-2  hexagons per row */
	
    .landing {
		width: 100%;
		height: 100%;
		left: 0%;
		top: 0%;
		transform: translate(0%, 0%);
		position: relative;
	}
	
}