@charset "utf-8";
/* CSS Document */

/*--------------DIVS--------------*/
* {
    box-sizing: border-box;
}

#logo {
    height: 50px;
    /*background-image: url(pix/logo.png);*/
    /*background-position: 0px 0px;*/
    /*background-repeat: no-repeat;*/
}

#bio {
    width: calc(100% - (var(--hex_width) + var(--hex_spacing)) * 3);
}

#hexagons { /* Positioning div for hexagons */
    width: calc((var(--hex_width) + var(--hex_spacing)) * 3 + 40px); /*add in padding*/
	height: calc(var(--hex_height) * 5);
    float: right;
	padding-left: 40px;
}

#page_margins {
    content: "";
    display: table;
    clear: both;
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
}

#page_margins:after {
    content: "";
    display: table;
    clear: both;
}

/*--------------RESPONSIVE DIVS--------------*/
@media screen and (max-width: 1000px) {
	
	:root {
		--hex_width: 260px;
	}
	
	#hexagons, #bio {
        width: 100%;
		float: none;
    }
	
	#page_margins {
		float: left;
		margin-top: 50px;
		margin-left: 0%;
		margin-right: 0%;
	}
	
	#logo {
		position: sticky;
		top: 0;
		width: 100%;
	}

}/*end responsive divs*/

/*--------------TYPOGRAPHY--------------*/
p.hextext {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Noto Sans SC', sans-serif;
}




