@charset "utf-8";
/* CSS Document */

/* Global Variables */
:root {
	
}

/*--------------DIVS--------------*/
#logo {
    height: 50px;
    /*background-image: url(pix/logo.png);*/
    /*background-position: 0px 0px;*/
    /*background-repeat: no-repeat;*/
}

#bio {
    width: calc(100% - (var(--hex_width)+var(--hex_spacing))*4);
    float: left;
}

#hexagons { /* Positioning div for hexagons */
    width: calc((var(--hex_width)+var(--hex_spacing))*4);
    float: right;
}

#page_margins {
    margin-top: 20px;
	margin-left: 10%;
	margin-right: 10%;
    position: relative;
}
#page_margins:after {
    content: "";
    display: table;
    clear: both;
}

/*--------------TYPOGRAPHY--------------*/
p.hextext {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Noto Sans SC', sans-serif;
}




