# .env.example
#
# To set up your environment, copy this file to `.env` and adjust the values as needed.
# Refer to the documentation or a diff comparison to see changes from the standard Bedrock
# .env.example file.
#
# Define environment variables below:

# Hostname passed to nginx config
HOSTNAME=localhost

# Local Development Docker Ports
NGINX_PORT=81
PHPMA_PORT=82

# Log Rotation
LOG_ROTATE_INTERVAL=86400
LOG_ROTATE_COUNT=14
LOG_ROTATE_COMPRESS=true

# Restart policy (see https://docs.docker.com/engine/containers/start-containers-automatically/)
RESTART=unless-stopped

# Database
MYSQL_ROOT_PASSWORD=admin
MYSQL_DATABASE=devdb
MYSQL_USER=admin
MYSQL_PASSWORD=admin

# Portal Framework
FRAMEWORK=../smarty-portal-framework
