body {
	background: black;
}

#bgvideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	filter: blur(10px) saturate(20%);
	transition: filter 0.2s;
	z-index: -1;
}

#bgvideo:hover {
	filter: none;
}

/* Style of the landing page div */
#landing-wrapper {
	width: 100%;
    height: 800px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.landing {
	width: 655px; /*fixed div size till break point */
	height: 670px; /*fixed div size till break point */
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*zoom: 1; /*hex scale*/
}

/* Wrapper div for tab content */
.tabcontent {
	position: absolute;
	width: 1044px; /*fixed div size till break point */
	/*height: 908px; /*fixed div size till break point */
	text-align: center;
	transform: translate(-50%, 0);
	top: 60px;
	left: 50%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: none;
  background-color: none;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 20px;
	color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
	color: black;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
	color: black;
}

/* Tables */
.column {
	float: left;
	padding: .5%;
	height: 100%;
}

.row {
	width: 100%;
}

/* ****** HEXAGONS ****** */
.hexagons .hexagons-inner-wrapper{
	display: inline-block;
	overflow: hidden;
	width: 1044px;
	position: relative;
	height: auto;
}

/* HEX SHAPE */
.hexagons .hex {
	position: absolute;
	display: inline-block;
}

.hexagons .hex_l,
.hexagons .hex_r{
	overflow: hidden;
	position: absolute;
	/* -webkit-backface-visibility: hidden; */
}

.hexagons .hex_l{
	visibility: hidden;
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
}

.hexagons .hex_r{
	visibility: hidden;
	box-shadow: 5px 10px 10px gray;
	-moz-transform: rotate(-120deg);
	-ms-transform: rotate(-120deg);
	-o-transform: rotate(-120deg);
	-webkit-transform: rotate(-120deg);
	transform: rotate(-120deg);
}

.hexagons .hex_inner{
	display: block;
	visibility: visible;
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
	background-position: center top;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.hexagons .inner-span{
	display: block;
	background-position: inherit;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 100%;
	width: 100%;
}

.hexagons .inner-text{
	font-family: 'Bungee', cursive;
	text-shadow: 2px 2px 5px black;
/*	font-size: 1.5em;*/
	padding-top: 30%;
	color: white;
}

.hexagons .hex .link {
	cursor: pointer;
	text-decoration: none;
	color: white;
}
/* ****** ****** ****** */


/* RESPONSIVE */
@media (max-width: 1200px) { /* <- 3-2  hexagons per row */
	.landing {
		width: 100%;
		height: 100%;
		left: 0%;
		top: 0%;
		transform: translate(0%, 0%);
		position: relative;
	}
	
	.tabcontent {
		width: 100%;
/*		height: 100%;*/
/*		transform: translate(-50%, 0%);*/
		position: relative;
	}
	
	.tab button {
		padding: 20px 20px;
		transition: 0.3s;
		font-size: 4em;
		color: white;
	}
	
}