server {
    listen 443 ssl;
    server_name ${HOSTNAME};

    error_log  /var/www/log/nginx_error.log;
    access_log /var/www/log/nginx_access.log;

    ssl_certificate     /etc/nginx/ssl/localhost.crt;
    ssl_certificate_key /etc/nginx/ssl/localhost.key;
    ssl_protocols       TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;

    root /var/www/html;
    index index.php index.html;

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass php-fpm:9000;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;

        # Set PHP error handling directives
        fastcgi_param PHP_VALUE "log_errors=On\nerror_log=/var/www/log/php_errors.log\ndisplay_errors=Off";
    }

}
