body {
    background: black;
    cursor: url('/assets/images/cursors/cursor.svg'), auto;
}

p {
    margin: 0;
}


a {
    cursor: url('/assets/images/cursors/link.svg'), auto;
    color: #00F;
    font-family: Calibri, sans-serif;
    font-weight: normal;
    text-decoration: underline;
    font-size: 12pt;
}

button {
    cursor: url('/assets/images/cursors/point.svg'), auto;
}

#bgvideo {
    position: fixed;
    bottom: 0px;
    /* left: 0px; */
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px) saturate(20%);
    transition: filter 0.2s;
}

#bgvideo:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: none;
}