/* Divs with ID's */
#film {
    width: 60%;
    margin: 5% 15%;
    padding: 5%;
    border-radius: 25px;
    background-color: rgba(230, 230, 230, 0.897);
}

#film::before {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px) saturate(20%);
}

#divider {
    border: 1.5px solid black;
    margin: 10pt 0pt;
}

/* Containers */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    flex: 1;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.right {
    flex: 1;
    text-align: right;
}

/* Style for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
}

/* Style for the modal content */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 60%;
    height: 50%;
}

/* Style for the close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style for the blurred content */
.body-blur {
    filter: blur(5px);
}

/* Headings */
h1 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18pt;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

h2 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13pt;
    margin: 0pt;
}

h3 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    text-decoration: underline;
    font-size: 12pt;
    margin-top: 20pt;
    margin-bottom: 8pt;
}

h4 {
    color: black;
    font-family: Calibri, sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 11pt;
    margin: 5px;
}

p {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 10.5pt;
    margin: 4pt 20pt;
}

/* Font Modifiers */
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.text-right {
    float: right;
    padding-right: 30pt;
}

.small {
    font-size: 8.5pt;
}

.bullet-point {
    margin: 0pt 0pt;
}

.small {
    font-size: 9pt;
    padding-left: 30pt;
}

/* Tables & Lists */
table,
tbody {
    vertical-align: top;
    overflow: visible;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}

ul {
    margin-block-start: 1pt;
    margin-block-end: 2pt;
}

/* Special Classes */
.project-description {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-description:after {
    content: " ............................................................................................................................................................................................................................ ";
}

button {
    background-color: rgb(89 0 255 / 50%);
    border: none;
    border-radius: 5px;
    padding: 2pt 4pt;
    color: black;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

button:hover {
    background-color: rgb(67, 0, 192);
    color: white;
}

/* RESPONSIVE */
@media only screen and (max-width: 1000px) {

    #film {
        width: 90%;
        margin: 3% 3%;
        padding: 2%;
        border-radius: 25px;
        background-color: rgba(230, 230, 230, 0.897);
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    td {
        position: relative;
    }

    td:before {
        position: absolute;
        left: 6px;
        content: attr(data-label);
        text-transform: uppercase;
        font-weight: bold;
    }

    h1,
    h2 {
        font-size: 4.0vw;
        margin: 0px 5px;
    }

    a {
        font-size: 3.5vw;
        margin: 0px 5px;
    }

    p {
        margin: 4pt 0pt;
    }

    .project-description {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .project-description:after {
        content: " ";
    }

    .left {
        padding: 1vw 2vw 1vw 0;
    }

    .text-right {
        padding-right: 4px;
    }

    .modal-content {
        width: 90%;
    }

    .small {
        padding: 0;
    }

    button {
        padding: 6pt 4pt;
    }

}